* {
  --yellow: #ffff88ff;
  --orange: #f8a163ff;
  --black: #20212eff;
  --gray: #c1b8c8ff;
  --white: #fafaffff;
}
.App {
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  height: 100vh;
}

.Navbar {
  background-color: var(--yellow);
  box-shadow: 0px -1px 5px var(--black);
}

.Logo {
  padding: 1rem;
}

.Wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}